<!DOCTYPE html>
<html 	xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Cadastrar Evento</title>
</head>
	<body>
	<br>
	<h2>Cadastrar Evento</h2>
		<form method='post'>
			Nome: <input type="text" value="" name="nome" /> 
			Local: <input type="text" value=""	name="local" /> 
			Data: <input type="date" value="" name="data" />
			Horario: <input type="time" value="" name="horario" /> 
			
			<button type="submit">Salvar</button>
		</form>
	<br>
	<h3><a href="/"/>Home</h3>
	
	</body>
</html>